useDynLib(qualV, .registration = TRUE)

import("KernSmooth")

exportPattern(".*M.*E")
export(
       "f.curve",
       "f.level",
       "f.slope",
       "f.steep",
       "LCS",
       "qvalLCS",
       "plot.qvalLCS",
       "print.qvalLCS",
       "summary.qvalLCS",
       "GRI",
       "EF",
       "MAE",
       "MAPE",
       "MSE",
       "transBeta",
       "transBezier",
       "transSimplex",
       "plot.timeTransME",
       "print.timeTransME",
       "summary.timeTransME"
       )

S3method(plot, qvalLCS)
S3method(plot, timeTransME)
S3method(print, compareME)
S3method(print, qvalLCS)
S3method(print, timeTransME)
S3method(summary, compareME)
S3method(summary, qvalLCS)
S3method(summary, timeTransME)
